name: Catcast Canli Yayim (1080p Playlist)

on:
  workflow_dispatch:

jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Fayllari Gotur
        uses: actions/checkout@v3

      - name: FFmpeg Qurasdir
        run: sudo apt update && sudo apt install -y ffmpeg curl

      - name: En Son Tokenli Linki Tap və Yayımı Başlat
        run: |
          # Catcast səhifəsindən aktiv m3u8 linkini çəkir
          STREAM_URL=$(curl -s https://catcast.tv/sehidimtv | grep -oP 'https://s.catcast.tv/[^"]+index.m3u8\?token=[a-zA-Z0-9]+' | head -n 1)
          
          echo "Tapılan Link: $STREAM_URL"

          # 1080p YAYIM AYARLARI:
          # scale=1920:1080 -> Bütün videoları Full HD edir
          # -b:v 4500k -> 1080p üçün daha yüksək bitreyt (keyfiyyət)
          
          ffmpeg -re -stream_loop -1 -f concat -safe 0 -i list.txt \
          -i logo.png -filter_complex "[0:v]scale=1920:1080,setsar=1[v_base]; [1:v]scale=150:-1[v_logo]; [v_base][v_logo]overlay=W-w-40:40" \
          -vcodec libx264 -preset veryfast -b:v 4500k -maxrate 4500k -bufsize 9000k \
          -pix_fmt yuv420p -c:a aac -b:a 192k -f flv "rtmp://s.catcast.tv/live/sehidimtv?key=27322_50574_8644e16863c6d6e6"
