- name: Tam Təkmilləşdirilmiş Yayım Scripti
        run: |
          # Tokenli linki çəkir (Əgər RTMP linkiniz dəyişirsə bu qalsın)
          STREAM_URL=$(curl -s https://catcast.tv/sehidimtv | grep -oP 'https://s.catcast.tv/[^"]+index.m3u8\?token=[a-zA-Z0-9]+' | head -n 1)
          
          # Əsas Sabit RTMP Linkiniz (Əgər key dəyişmirsə birbaşa bunu istifadə edin):
          TARGET_RTMP="rtmp://s.catcast.tv/live/sehidimtv?key=27322_50574_8644e16863c6d6e6"

          ffmpeg -re -f concat -safe 0 -stream_loop -1 -i list.txt \
          -stream_loop -1 -i logo.png \
          -filter_complex "[0:v]scale=1280:720,setsar=1,fps=25[main]; \
                           [1:v]scale=120:-1[l_img]; \
                           [main][l_img]overlay=W-w-30:30[outv]; \
                           [0:a]aresample=44100,aformat=sample_fmts=fltp:sample_rates=44100:channel_layouts=stereo[outa]" \
          -map "[outv]" -map "[outa]" \
          -vcodec libx264 -preset veryfast -b:v 2500k -maxrate 2500k -bufsize 5000k \
          -pix_fmt yuv420p -g 50 -fflags +genpts+igndts+discardcorrupt \
          -c:a aac -b:a 128k -ar 44100 \
          -f flv "$TARGET_RTMP"
