name: Catcast Canli Yayim

on:
  workflow_dispatch:

jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Fayllari Gotur
        uses: actions/checkout@v3

      - name: FFmpeg Qurasdir
        run: sudo apt update && sudo apt install -y ffmpeg

      - name: Yayimi Baslat
        run: |
          ffmpeg -re -stream_loop -1 -i video1.mp4 \
          -i logo.png -filter_complex "overlay=W-w-20:20" \
          -vcodec libx264 -preset veryfast -b:v 2000k -maxrate 2000k -bufsize 4000k \
          -pix_fmt yuv420p -c:a aac -b:a 128k -f flv "rtmp://s.catcast.tv/live/sehidimtv?key=27322_50574_8644e16863c6d6e6"
