name: Catcast Canli Yayim

on:
  workflow_dispatch:

jobs:
  stream:
    runs-on: ubuntu-latest
    steps:
      - name: Fayllari Gotur
        uses: actions/checkout@v3

      - name: FFmpeg Qurasdir
        run: sudo apt update && sudo apt install -y ffmpeg curl

      - name: En Son Tokenli Linki Tap və Yayımı Başlat
        run: |
          # Səhifədən m3u8 linkini və tokeni avtomatik çəkir
          STREAM_URL=$(curl -s https://catcast.tv/sehidimtv | grep -oP 'https://s.catcast.tv/[^"]+index.m3u8\?token=[a-zA-Z0-9]+' | head -n 1)
          
          echo "Tapılan Link: $STREAM_URL"

          # FFmpeg loqo tənzimləməsi:
          # scale=120:-1 -> Loqonu 120px enində edir (bir az daha balaca və estetik)
          # overlay=W-w-30:30 -> Sağdan 30px, Yuxarıdan 30px məsafə qoyur
          ffmpeg -re -stream_loop -1 -i video1.mp4 \
          -i logo.png -filter_complex "[1:v]scale=120:-1 [logo]; [0:v][logo]overlay=W-w-30:30" \
          -vcodec libx264 -preset veryfast -b:v 2000k -maxrate 2000k -bufsize 4000k \
          -pix_fmt yuv420p -c:a aac -b:a 128k -f flv "rtmp://s.catcast.tv/live/sehidimtv?key=27322_50574_8644e16863c6d6e6"
